.list-flex{
  display: flex;
  flex-direction: column;
}

/* Table header */

.header-block{
  display: flex;
  justify-content: center;
}

.header-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  margin: 5px 15px 5px 15px;
  padding: 5px;
}

.header-container h2{
  text-align: center;
}

/* End Table header */

/* Table totals */

.total-block {
  display: flex;
  justify-content: center;
  padding: 5px 15px 5px 15px;
}

.total-container{
  display: flex;
  width: 80%;
  justify-content: space-around;
  gap: 20px;
}

.total-content {
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  text-align: center;
  
  padding: 10px 20px;
  flex: 1;

}

.total-content p {
  margin: 0;
  font-size: 1.2em;
}

/* End Table Totals */

/* Table */

.table-block{
  display: flex;
  justify-content: center;
  padding: 15px;
}

.table-container{
  display: flex;
  width: 80%;
  justify-content: space-around;
}

.list-view-table {
  border-collapse: collapse;
  width: 100%;

}

.list-view-table th, .list-view-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.list-view-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.list-view-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.list-view-table tr:hover {
  background-color: #f1f1f1;
}

.list-view-table a {
  color: #007bff;
  text-decoration: none;
}

.list-view-table a:hover {
  text-decoration: underline;
}

.list-view-table ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.list-view-table ul li {
  margin: 5px 0;
}

/* End table */
