{% extends "sb/base.html" %}

{% block title %}{{ subcategory.name }}{% endblock %}

{% block content %}
  <h2>Subategory Details</h2>
  
  <table>
    <tr>
      <th>Name:</th>
      <td>{{ subcategory.name }}</td>
    </tr>
    <tr>
      <th>Max Allowed Spend:</th>
      <td>{{ subcategory.max_allowed_spend }}</td>
    </tr>
    <tr>
        <th>Category:</th>
        <td>{{ subcategory.category }}</td>
      </tr>
  </table>

  <a href="{% url 'sb:subcategories' %}">Back to Categories List</a>
{% endblock %}
