{% extends "sb/base.html" %}
{% load static %}
{% block title %}{{ category.name }}{% endblock %}

{% block content %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/create-form.css' %}">

  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <h3>Related Subcategories</h3>

    <div class="list-container">
      {% for subcategory in subcategories %}
        <a class="list-component" href="{% url 'sb:subcategory_detail' subcategory.pk %}">{{ subcategory.name }}</a>
      {% empty %}
        <p>No subcategories available.</p>
      {% endfor %}
    </div>
    
    <button type="submit">Update</button>
  </form>

  <div class="form-footer">
    <a href="{% url 'sb:categories' %}">Back to Categories List</a>
  </div>
  
{% endblock %}
